<div class="px-4">
  <div class="text-center mt-5">
    <h3>
      Đơn nhập học
    </h3>
  </div>
  <hr class="my-4"/>
  <div class="row">
    <div class="col-md-12">
      <div class=WordSection1>

        <p class=MsoNormal align=center style='text-align:center;page-break-after:avoid'><span
          style='position:absolute;z-index:251658240;left:0px;margin-left:4px;margin-top:
1px;width:125px;height:150px'>

<table cellpadding=0 cellspacing=0>
 <tr>
  <td width=125 height=150 bgcolor=white style='border:.75pt solid black;
  vertical-align:top;background:white'><span style='position:absolute;
  left:0pt;z-index:251658240'>
  <table cellpadding=0 cellspacing=0 width="100%">
   <tr>
    <td>
    <div style='padding:4.35pt 7.95pt 4.35pt 7.95pt'>
        <p class=MsoNormal align=center style='text-align:center'><span
          style='color:black'>&nbsp;</span></p>
        <p class=MsoNormal align=center style='text-align:center'><span
          style='color:black'>&#7842;nh</span></p>
        <p class=MsoNormal align=center style='text-align:center'><span
          style='color:black'>4 x 6</span></p>
        <p class=MsoNormal align=center style='text-align:center'><i><span
          style='color:black'>(M&#7899;i ch&#7909;p</span></i></p>
        <p class=MsoNormal align=center style='text-align:center'><i><span
          style='color:black'>ch&#432;a quá</span></i></p>
        <p class=MsoNormal align=center style='text-align:center'><i><span
          style='color:black'>6 tháng)</span></i></p>
      </div>
      </td>
      </tr>
      </table>
      </span>&nbsp;</td>
      </tr>
      </table>

      </span><b><span lang=FR>C&#7896;NG HÒA XÃ H&#7896;I CH&#7910; NGH&#296;A
VI&#7878;T NAM</span></b></p>

      <p class=MsoNormal align=center style='text-align:center'><span
        style='position:absolute;z-index:251657216;left:0px;margin-left:219px;
margin-top:25px;width:201px;height:2px'><img width=201 height=2
                                             src="Ly%20lich%20SV2019_%20ban%20ky_files/image001.gif"></span><b><span
        lang=PT-BR>&#272;&#7897;c l&#7853;p – T&#7921; do – H&#7841;nh phúc</span></b></p>

      <p class=MsoNormal>&nbsp;</p>

      <p class=MsoNormal align=center style='margin-top:6.0pt;margin-right:0in;
margin-bottom:6.0pt;margin-left:0in;text-align:center'><b><span
        style='font-size:14.0pt'> <span lang=PT-BR>PHI&#7870;U KÊ KHAI THÔNG TIN SINH
VIÊN</span></span></b></p>

      <p class=MsoNormal align=center style='margin-top:6.0pt;text-align:center'><b><span
        lang=PT-BR style='font-size:15.0pt'>KHÓA 2019</span></b></p>

      <p class=MsoNormal align=center style='text-align:center'><b><span lang=PT-BR
                                                                         style='font-size:13.0pt'>&nbsp;</span></b></p>

      <p class=MsoNormal align=center style='text-align:center'><b><span lang=PT-BR
                                                                         style='font-size:13.0pt'>I.</span></b><span
        lang=PT-BR style='font-size:13.0pt'>
</span><b><span lang=PT-BR>THÔNG TIN V&#7872; B&#7842;N THÂN</span></b></p>

      <p class=MsoNormal style='margin-top:6.0pt'><span lang=PT-BR>H&#7885; và
tên...........................................................................;
Ngày sinh: .........../.........../.........................</span></p>

      <p class=MsoNormal style='margin-top:3.0pt'><span lang=PT-BR>N&#417;i sinh:
.....................................................................................................;
Gi&#7899;i tính: ........................</span></p>

      <p class=MsoNormal style='margin-top:3.0pt'><span lang=PT-BR>Dân t&#7897;c:
.................................................................................................................................................</span>
      </p>

      <p class=MsoNormal style='margin-top:3.0pt'><span lang=PT-BR>S&#7889; CMND/
Th&#7867; CCCD/ H&#7897; chi&#7871;u: ......................; Ngày c&#7845;p...../....../............;
N&#417;i c&#7845;p: ......................</span></p>

      <p class=MsoNormal style='margin-top:3.0pt'><span lang=PT-BR>H&#7897;
kh&#7849;u th&#432;&#7901;ng trú: ..............................................................................................................................</span>
      </p>

      <p class=MsoNormal style='margin-top:3.0pt'><span lang=PT-BR>N&#417;i &#7903;
hi&#7879;n t&#7841;i:
.......................................................................................................................................</span>
      </p>

      <p class=MsoNormal style='margin-top:3.0pt'><span lang=PT-BR>&#272;i&#7879;n
tho&#7841;i liên h&#7879;: ............................................; E-mail:
...................................................................... </span></p>

      <p class=MsoNormal style='margin-top:3.0pt'><span lang=PT-BR>Khi c&#7847;n báo
tin cho <i>(ai, &#7903; &#273;âu, s&#7889; &#272;T liên h&#7879;)</i>:
.....................................................................................</span></p>

      <p class=MsoNormal style='margin-top:3.0pt'><span lang=PT-BR>................................................................................................................................................................</span>
      </p>

      <p class=MsoNormal style='margin-top:3.0pt'><span lang=PT-BR style='font-size:
5.0pt'>                        </span></p>

      <p class=MsoNormal style='margin-top:6.0pt'><b><span style='color:black'>                                                     II.
THÔNG TIN V&#7872; GIA &#272;ÌNH             </span></b></p>

      <p class=MsoNormal style='margin-top:3.0pt'><b><span style='color:black'>1.
Cha:</span></b></p>

      <p class=MsoNormal style='margin-top:3.0pt'><span style='color:black'>-
H&#7885; và tên: ......................................…….....; N&#259;m sinh:
……………;  Qu&#7889;c t&#7883;ch: ........…................</span></p>

      <p class=MsoNormal style='margin-top:3.0pt'><span style='color:black'>- Dân
t&#7897;c: ....................................……………………Tôn giáo:
..............……........…........................</span></p>

      <p class=MsoNormal style='margin-top:3.0pt'><span style='color:black'>-
H&#7897; kh&#7849;u th&#432;&#7901;ng trú:
............................................................……..........….......….....……..................</span></p>

      <p class=MsoNormal style='margin-top:3.0pt'><span style='color:black'>-
Ngh&#7873; nghi&#7879;p:
.............................................…........................................................................………..</span>
      </p>

      <p class=MsoNormal style='margin-top:3.0pt'><span style='color:black'>-
N&#417;i làm vi&#7879;c: ………………………………………………………………….……………………..</span></p>

      <p class=MsoNormal style='margin-top:3.0pt'><span lang=PT-BR>- &#272;i&#7879;n
tho&#7841;i liên h&#7879;: ............................................;
E-mail: .................................................................... </span></p>

      <p class=MsoNormal style='margin-top:3.0pt'><span style='color:black'>&nbsp;</span></p>

      <p class=MsoNormal style='margin-top:3.0pt'><b><span style='color:black'>2.
M&#7865;:</span></b></p>

      <p class=MsoNormal style='margin-top:3.0pt'><span style='color:black'>-
H&#7885; và tên: ......................................…….....; N&#259;m sinh:
……………;  Qu&#7889;c t&#7883;ch: ........…................</span></p>

      <p class=MsoNormal style='margin-top:3.0pt'><span style='color:black'>- Dân
t&#7897;c: ....................................……………………Tôn giáo:
..............……....................................</span></p>

      <p class=MsoNormal style='margin-top:3.0pt'><span style='color:black'>-
H&#7897; kh&#7849;u th&#432;&#7901;ng trú: ................................................…………..............….......….....……..................</span>
      </p>

      <p class=MsoNormal style='margin-top:3.0pt'><span style='color:black'>- Ngh&#7873;
nghi&#7879;p: ................................................................................................….....................………..</span>
      </p>

      <p class=MsoNormal style='margin-top:3.0pt'><span style='color:black'>-
N&#417;i làm vi&#7879;c: ………………………………………………………………………...………………</span></p>

      <p class=MsoNormal style='margin-top:3.0pt'><span lang=PT-BR>- &#272;i&#7879;n
tho&#7841;i liên h&#7879;: ............................................;
E-mail: .................................................................... </span></p>

      <p class=MsoNormal style='margin-top:3.0pt'><b><span style='color:black'>&nbsp;</span></b></p>

      <p class=MsoNormal style='margin-top:3.0pt'><b><span style='color:black'>3.
H&#7885; và tên, ngh&#7873; nghi&#7879;p, n&#417;i làm vi&#7879;c c&#7911;a
anh/ ch&#7883;/ em ru&#7897;t:</span></b></p>

      <p class=MsoNormal style='margin-top:3.0pt'><span lang=PT-BR>1).............................................................................................................................................................</span>
      </p>

      <p class=MsoNormal style='margin-top:3.0pt'><span lang=PT-BR>................................................................................................................................................................</span>
      </p>

      <p class=MsoNormal style='margin-top:3.0pt'><span lang=PT-BR>2).............................................................................................................................................................</span>
      </p>

      <p class=MsoNormal style='margin-top:3.0pt'><span lang=PT-BR>................................................................................................................................................................</span>
      </p>

      <p class=MsoNormal style='margin-top:3.0pt'><span lang=PT-BR>3).............................................................................................................................................................</span>
      </p>

      <p class=MsoNormal style='margin-top:3.0pt'><span lang=PT-BR>................................................................................................................................................................</span>
      </p>

      <p class=MsoNormal style='margin-top:3.0pt'><b><span lang=PT-BR>4. Hoàn
c&#7843;nh kinh t&#7871; gia &#273;ình: </span></b></p>

      <p class=MsoNormal style='margin-top:3.0pt'><span lang=PT-BR>- Thu&#7897;c
&#273;&#7889;i t&#432;&#7907;ng <i>(khoanh tròn vào &#273;&#7889;i
t&#432;&#7907;ng): </i>1- H&#7897; nghèo; 2- H&#7897;i c&#7853;n nghèo; 3- H&#7897;
bình th&#432;&#7901;ng</span></p>

      <p class=MsoNormal style='margin-top:3.0pt'><span lang=PT-BR>- Tr&#432;&#7901;ng
h&#7907;p gia &#273;ình có hoàn c&#7843;nh khó kh&#259;n &#273;&#7863;c
bi&#7879;t xin mô t&#7843; tóm t&#7855;t t&#7841;i &#273;ây: ...............................</span></p>

      <p class=MsoNormal style='margin-top:3.0pt'><span lang=PT-BR>................................................................................................................................................................</span>
      </p>

      <p class=MsoNormal style='margin-top:3.0pt'><span lang=PT-BR>................................................................................................................................................................</span>
      </p>

      <p class=MsoNormal style='margin-top:3.0pt'><span lang=PT-BR>................................................................................................................................................................</span>
      </p>

      <p class=MsoNormal style='margin-top:3.0pt'><span lang=PT-BR style='font-size:
5.0pt'>&nbsp;</span></p>

      <p class=MsoNormal style='margin-top:3.0pt'><i><span lang=PT-BR>Em xin cam
&#273;oan nh&#7919;ng l&#7901;i khai trên là &#273;úng s&#7921; th&#7853;t.
N&#7871;u sai em xin ch&#7883;u x&#7917; lý theo quy &#273;&#7883;nh hi&#7879;n
hành c&#7911;a Nhà tr&#432;&#7901;ng.</span></i></p>

      <p class=MsoNormal style='margin-top:3.0pt;margin-right:0in;margin-bottom:0in;
margin-left:3.5in;margin-bottom:.0001pt'><i><span lang=PT-BR>Hà N&#7897;i, ngày
...... tháng ...... n&#259;m 20...........</span></i></p>

      <p class=MsoNormal><span lang=PT-BR>            <b>Cam &#273;oan c&#7911;a gia
&#273;ình sinh viên</b>                                  <b>       Sinh viên</b></span></p>

      <p class=MsoNormal style='margin-top:3.0pt;margin-right:0in;margin-bottom:0in;
margin-left:4.0in;margin-bottom:.0001pt'><span lang=PT-BR> <i>   (Ký và ghi rõ
h&#7885; tên)</i></span></p>

      <p class=MsoNormal align=right style='margin-top:3.0pt;text-align:right'><span
        lang=PT-BR>&nbsp;</span></p>

      <p class=MsoNormal align=right style='margin-top:3.0pt;text-align:right'><span
        lang=PT-BR>&nbsp;</span></p>

      <p class=MsoNormal align=right style='margin-top:3.0pt;text-align:right'><span
        lang=PT-BR>&nbsp;</span></p>

      <p class=MsoNormal align=right style='margin-top:3.0pt;text-align:right'><span
        lang=PT-BR>&nbsp;</span></p>

      <p class=MsoNormal align=right style='margin-top:3.0pt;text-align:right'><span
        lang=PT-BR>&nbsp;</span></p>

      <p class=MsoNormal style='margin-top:3.0pt'><span lang=PT-BR>&nbsp;</span></p>

      <p class=MsoNormal style='margin-top:3.0pt'><span lang=PT-BR>&nbsp;</span></p>

      <p class=MsoNormal style='margin-top:3.0pt'><b><span lang=PT-BR>                              Xác
nh&#7853;n c&#7911;a chính quy&#7873;n &#273;&#7883;a ph&#432;&#417;ng n&#417;i
sinh viên c&#432; trú</span></b></p>

    </div>
  </div>
</div>
<div class="mt-5 py-5 border-top text-center">
  <div class="row justify-content-center">
    <button class="btn btn-outline-primary" routerLink="/admission/docs">Next</button>
  </div>
</div>
</div>
