<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col">
          <div class="card shadow border-0">
            <div class="card-header">
              <h4 class="card-title">Bộ lọc</h4>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-6 pr-1">
                    <div class="form-group">
                      <label>Từ khóa</label>
                      <input type="text" class="form-control" placeholder="Tên/Số CMND/SBD"
                             [(ngModel)]="condition.Keyword" name="Keyword"/>
                    </div>
                  </div>
                  <div class="col-md-6 pr-1">
                    <div class="form-group">
                      <label>Chương trình</label>
                      <select class="form-control" (change)="ChangeProgram($event)" [(ngModel)]="condition.ProgramId"
                              name="ProgramId">
                        <option value="0">--</option>
                        <option *ngFor="let program of educationProgramList"
                                [selected]="condition.ProgramId === program.Id"
                                value="{{program.Id}}">{{program.Name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 pr-1">
                    <div class="form-group">
                      <label>Ngành</label>
                      <select class="form-control" (change)="ChangeDepartment($event)"
                              [(ngModel)]="condition.DepartmentId" name="DepartmentId">
                        <option value="0">--</option>
                        <option *ngFor="let department of departmentList"
                                [selected]="condition.DepartmentId === department.Id"
                                value="{{department.Id}}">{{department.Name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6 pr-1">
                    <div class="form-group">
                      <label>Lớp</label>
                      <select class="form-control" name="ClassId" [(ngModel)]="condition.ClassId">
                        <option value="0">--</option>
                        <option *ngFor="let class of classList" value="{{class.Id}}"
                                [selected]="condition.ClassId === class.Id">{{class.Name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6"></div>
                  <div class="col-md-6 pr-1">
                    <div class="form-group group-function">
                      <button class="btn btn-md btn-primary dut-search" (click)="getListTuitionFee()">Tìm kiếm
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Danh sách học viên</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">Tên sinh viên</th>
              <th scope="col">Số CMND</th>
              <th scope="col">Lớp</th>
              <th scope="col">Học phí kì 1</th>
              <th scope="col">Tổng học phí</th>
              <th scope="col">Tình trạng</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tuition of tuitions">
              <th scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm">{{tuition.FirstName + ' ' + tuition.LastName}}</span>
                  </div>
                </div>
              </th>
              <td>
                {{tuition.IdentityNumber}}
              </td>
              <td>
                {{tuition.ClassName}}
              </td>
              <td>
                {{tuition.TuitionFee}}
              </td>
              <td>
                {{tuition.TotalTuition}}
              </td>
              <td>
                <span class="badge badge-dot" *ngIf="tuition.IsPaid; else NotRequired">
                    <i class="bg-success"></i> Đã đóng học phí
                  </span>
                <ng-template #NotRequired>
                  <span class="badge badge-dot">
                    <i class="bg-danger"></i> Chưa đóng học phí
                  </span>
                </ng-template>
              </td>
              <td class="text-right">
                <div ngbDropdown placement="bottom-right">
                  <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                    <a class="dropdown-item" href="javascript:void(0)"
                       (click)="onOpenDetailModal(detailTuition, tuition)">Xem chi tiết</a>
                    <a class="dropdown-item" href="javascript:void(0)"
                       (click)="onOpenDetailModal(detailTuition, tuition)">Xem tài liệu</a>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <ng-template #detailTuition let-c="close" let-d="dismiss">
          <div class="modal-content">
            <div class="modal-body p-0">
              <div class="card bg-secondary shadow border-0">
                <div class="card-header bg-white pb-0">
                  <div class="text-muted text-center">
                    <h3>Chi tiết thông tin học phí</h3>
                  </div>
                </div>
                <div class="card-body px-lg-5 py-lg-5">
                  <form>
                    <div class="form-group row">
                      <label class="col-3 col-form-label">Họ tên:</label>
                      <label class="col-3 col-form-label">{{tuition.LastName + ' ' + tuition.FirstName}}</label>
                      <label class="col-3 col-form-label">Lớp:</label>
                      <label class="col-3 col-form-label">{{tuition.ClassName}}</label>
                    </div>
                    <div class="form-group row">
                      <label class="col-3 col-form-label">Số CMND:</label>
                      <label class="col-3 col-form-label">{{tuition.IdentityNumber}}</label>
                      <label class="col-3 col-form-label">Tình trạng:</label>
                      <label class="col-3 col-form-label">{{tuition.IsPaid ? 'Đã đóng học phí' : 'Chưa đóng học phí'}}</label>
                    </div>
                  </form>
                  <div class="row">
                    <div class="col">
                      <div class="table-responsive">
                        <table class="table align-items-center table-hover table-bordered">
                          <thead class="thead-light">
                          <tr>
                            <th scope="col">Loại chi phí</th>
                            <th scope="col">Số tiền</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <th>Học phí học kì 1</th>
                            <td>{{tuition.TuitionFee}}</td>
                          </tr>
                          <tr *ngFor="let type of tuitionTypes">
                            <th scope="row">
                              {{type.Name}}
                            </th>
                            <td>
                              {{type.Money}}
                            </td>
                          </tr>
                          <tr>
                            <td>Tổng học phí học kì 1</td>
                            <td>{{tuition.TotalTuition}}</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="text-center">
<!--                    <button type="button" class="btn btn-primary my-4" (click)="onOpenReceiptModal(receiptModal)">{{tuition.IsPaid ? 'Xem biên lai' : 'Tạo biên lai'}}</button>-->
                    <button type="button" class="btn ml-auto btn-danger" data-dismiss="modal"
                            (click)="c('Close click')">Đóng
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template #receiptModal let-c="close" let-d="dismiss">
          <div class="modal-content">
            <div class="modal-body p-0">
              <div class="card bg-secondary shadow border-0">
                <div class="card-header bg-white pb-0">
                  <div class="text-muted text-center">
                    <h3>Chi tiết biên lai</h3>
                  </div>
                </div>
                <div class="card-body px-lg-5 py-lg-5">
                </div>
                <div class="card-footer">
                  <div class="text-center">
                    <button type="button" class="btn btn-primary my-4">In biên lai</button>
                    <button type="button" class="btn ml-auto btn-danger" data-dismiss="modal"
                            (click)="c('Close click')">Close
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <button class="page-link" href="javascript:void(0)" tabindex="-1" (click)="previousPage()"
                        [disabled]="condition.CurrentPage === 1"
                        [class.pag-disable]="condition.CurrentPage === 1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </button>
              </li>
              <li class="page-item" [class.active]="condition.CurrentPage === index+1"
                  *ngFor="let item of arrayOne(); let index = index ">
                <button class="page-link" (click)="changePage(index+1)"
                        [disabled]="condition.CurrentPage === index+1"
                        [class.pag-active]="condition.CurrentPage === index+1">
                  {{index + 1}}
                </button>
              </li>
              <li class="page-item">
                <button class="page-link" (click)="nextPage()"
                        [disabled]="condition.CurrentPage === totalPage"
                        [class.pag-disable]="condition.CurrentPage === totalPage">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
