<footer class="footer" [ngClass]="{'has-cards': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login'}">
  <div class="container">
    <hr>
    <div class="row" [ngClass]="{'my-md': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login', 'mb-5':getPath()==='/user-profile' || getPath()==='/register' || getPath()==='/login'}">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="single-footer-widget">
          <h3>DUT ADMISSION</h3>
          <p>There are many variations of passg of Lorem Ipsum available, but thmajority have suffered altem, </p>
          <a target="_blank" href="https://twitter.com/creativetim" class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg" ngbTooltip="Follow us">
            <i class="fa fa-twitter"></i>
          </a>
          <a target="_blank" href="https://www.facebook.com/creativetim" class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg" ngbTooltip="Like us">
            <i class="fa fa-facebook-square"></i>
          </a>
          <a target="_blank" href="https://dribbble.com/creativetim" class="btn btn-neutral btn-icon-only btn-dribbble btn-lg btn-round" ngbTooltip="Follow us">
            <i class="fa fa-dribbble"></i>
          </a>
          <a target="_blank" href="https://github.com/creativetimofficial" class="btn btn-neutral btn-icon-only btn-github btn-round btn-lg" ngbTooltip="Star on Github">
            <i class="fa fa-github"></i>
          </a>
          <a target="_blank" href="https://github.com/creativetimofficial" class="btn btn-neutral btn-icon-only btn-github btn-round btn-lg" ngbTooltip="Star on Youtube">
            <i class="fa fa-youtube"></i>
          </a>

        </div>
      </div>
      <div class="col-lg-4 col-lg-4 col-md-6 col-sm-12">
        <div class="single-footer-widget">
          <h3>THÔNG TIN LIÊN LẠC</h3>
          <a class="text" href="tel:555-555-1212"><i class="fa fa-phone"></i>555-555-1212</a>
          <span><i class="fa fa-envelope"></i>info@example.com</span>
          <span><i class="fa fa-globe"></i>www.educat.com</span>
          <span><i class="fa fa-map-marker"></i>ur address goes here,street.</span>
        </div>
      </div>
      <div class="col-lg-4 col-lg-4 col-md-6 col-sm-12">
        <div class="single-footer-widget">
          <h3>LIÊN KẾT NHANH</h3>
          <ul class="footer-list">
            <li><a class="text" routerLink="/home">Trang chủ</a></li>
            <li><a class="text" href="#">Tin tức</a></li>
            <li><a class="text" href="#">Hướng dẫn nhập học</a></li>
            <li><a class="text" href="#">Giới thiệu</a></li>
            <li><a class="text" href="#">Liên hệ</a></li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          &copy; {{test | date: 'yyyy'}}
          <a routerLink="/home" target="_blank">Bản quyền Trường Đại học Bách khoa - Đại học Đà Nẵng</a>.
        </div>
      </div>
      <div class="col-md-6">
        <div class="nav nav-footer justify-content-end">
          <a routerLink="/home" target="_blank">Privacy Policy , Terms & Conditions</a>.
        </div>
      </div>
    </div>
  </div>
</footer>
