<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3  text-white">Hướng dẫn thực hiện nhập học
                <span>Đại học Bách Khoa Đà Nẵng</span>
              </h1>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
             xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <section class="section section-lg pt-lg-0 mt--150">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                    <i class="ni ni-user-run"></i>
                  </div>
                  <h6 class="text-primary text-uppercase">Cập nhật thông tin cá nhân</h6>
                  <ul>
                    <li><p class="description align-text-left">1. Thông tin cá nhân</p></li>
                    <li><p class="description">2. Thông tin nhân thân</p></li>
                    <li><p class="description">3. Kết quả học tập ở cấp 3</p></li>
                    <li><p class="description">4. Các thành tích đã đạt được</p></li>
                  </ul>
                  <!--
                  <div class="progress-wrapper">
                    <div class="progress-info">
                      <div class="progress-label">
                        <span>Đã hoàn thành</span>
                      </div>
                      <div class="progress-percentage">
                        <span>60%</span>
                      </div>
                    </div>
                    <ngb-progressbar type="primary" [value]="60"></ngb-progressbar>
                  </div>
                  -->
                  <a routerLink="/profile" class="btn btn-primary mt-4">Đến trang</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                    <i class="ni ni-check-bold"></i>
                  </div>
                  <h6 class="text-success text-uppercase">Các loại giấy tờ liên quan</h6>
                  <ul>
                    <li><p class="description">1. Kiểm tra lại đơn nhập học</p></li>
                    <li><p class="description">2. Tải xuống đơn nhập học</p></li>
                    <li><p class="description">3. Tải lên các giấy tờ yêu cầu</p></li>
                    <li><p class="description">4. Chờ phản hồi từ nhà trường</p></li>
                  </ul>
                  <a routerLink="/admission/form" class="btn btn-success mt-4">Đến trang</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                    <i class="ni ni-money-coins"></i>
                  </div>
                  <h6 class="text-warning text-uppercase">Kiểm tra thông tin học phí.</h6>
                  <ul>
                    <li><p class="description">1. Kiểm tra thông tin học phí</p></li>
                    <li><p class="description">2. Lấy mã chuyển khoản từ nhà trường</p></li>
                    <li><p class="description">3. Thực hiện chuyển khoản tại ngân hàng gần nhất hoặc có thể đóng học phí
                      ngay tại trường đại học</p></li>
                  </ul>
                  <a routerLink="/tuition" class="btn btn-warning mt-4">Đến trang</a>
                </div>
              </div>
            </div>
          </div>
          <!--          <p class="lead">Cause if you do, it can be yours for FREE. Hit the button below to navigate to Creative Tim where you can find the Design System in Angular. Start a new project or give an old Angular project a new look!</p>-->
<!--          <div class="btn-wrapper btn-how-to-use">-->
<!--            <a routerLink="/instruction" class="btn btn-primary mb-3 mb-sm-0">Hướng dẫn chi tiết</a>-->
<!--          </div>-->
        </div>
      </div>
    </div>
  </section>
</main>
