/* You can add global styles to this file, and also import other style files */
ul{
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.backdrop[_ngcontent-c2] {
  position: fixed !important;
}
.dut-search{
  float: right;
}
